@{
    ViewData["Title"] = "Log in";
}

<div class="mb-3 text-center">
    <h2>Login Form</h2>
    <form method='post'>
        <p>
            <label>Phone</label><br />
            <input type="tel" name="phone" class="form-control" />
        </p>
        <p>
            <label>Password</label><br />
            <input type="password" name="password" class="form-control" />
        </p>
        <input type='submit' value='Login' />
    </form>
</div>
